body
  background-image: url("/images/background.png")

// Basic Colors
$black: #000000
$blue: #0000FF
$red: #FF0000
$white: #FFFFFF

// Main Styling
$background-grey: #fff
$canvas-grey: #333
$canvas-border: #AAA
$canvas-indent: #444
$shadow-grey: #AAAAAA

// Font Styling
$font-face: 'Roboto Mono', monospace
$code-cyan: #7bcbed
$code-lime: #79e835
$code-red: #e54040
$code-yellow: #ffff00

.main
  background-color: #eef
  padding-top: 5px
  padding-left: 20px
  margin-top: -35px
  margin-left: 22vw
  width: 75%
  box-shadow: 5px 5px 0px black

  .title
    color: black
    padding-left: 0px
    font-size: 2em

  .results
    background-color: white
    border: 1px solid #aaa
    color: black
    font-size: 1.3em
    padding: 2px
    padding-left: 10px
    margin-top: 4px
    margin-bottom: 4px
    width: 97%

    a
      display: block
      color: $code-red
      text-decoration: none
