@import master.sass

.sidenav
  height: 100%
  width: 20vw
  position: fixed
  z-index: 1
  top: 0
  left: 0
  background-color: $canvas-grey
  overflow-x: hidden
  padding-top: 10px
  padding-left: 5px
  box-shadow: 5px 0px 2px black

  a
    color: $code-red
    padding: 6px
    text-decoration: none
    font-size: 1.5em
    display: block

  a:hover
    color: $code-yellow
    transition: 0.5s

  h1
    font-size: 2em

    a
      text-decoration: none
      color: $code-cyan

  input
    border: none
    background-color: $code-lime
    color: black
    font-size: 1.5em
    padding-left: 5px
    margin-left: 5px
    margin-top: 10px
